body {
	margin: 0;
	line-height: 1.5;
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
}

button, input, select, textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

input:focus, select:focus, textarea:focus {
	outline: none;
}
